# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Terraform
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/terraform.tfvars

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log